<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.dao.UserDao">
    <resultMap type="User" id="userMap">
        <id property="id" column="ID"/>
        <result property="loginName" column="LOGIN_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="deptId" column="DEPT_ID"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <select id="getList" resultType="User">
        SELECT * FROM user
    </select>
    

</mapper>